
{% include menu.html %}

<div id="fade"></div>

<div id="header">
  <div class="title container">
    {% if page.header_title %}
    <h1><a href="/">{{ page.header_title }}</a></h1>
    {% else %}
    <h1><a href="/">{{ site.title }}</a></h1>
    {% endif %}
    {% if site.data.quotes and site.data.quotes.size > 0 %}
    <p class="quote" id="header-quote"></p>
    <script>window.aopod_quotes={{ site.data.quotes | jsonify }};</script>
    {% endif %}
  </div>
</div>

{% include searchbox.html %}

