<div id="menu">
	<div class="ctl"></div>
	<div class="logo"><a href="/">AOPOD</a></div>
	<div class="apps-entry">
		<a href="javascript:void(0);" class="apps-trigger">
			<span>我们的 APP</span>
			<span class="apps-arrow"></span>
		</a>
		<div class="apps-flyout-wrap">
			<ul class="apps-flyout">
			{% for app in site.data.apps %}
				<li>
					<a href="{{ app.url }}" target="_blank">
						<span class="apps-name">{{ app.name }}</span>
						{% if app.desc %}<span class="apps-desc">{{ app.desc }}</span>{% endif %}
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="category">
		<ul>
		{% for category in site.ao_categories %}
			<a href="/categories/#tag_{{ category }}"><li>{{ category }}</li></a>
		{% endfor %}
		{% for item in site.ao_menu_items %}
			<a href="{{ item.url }}"{% if item.target %} target="{{ item.target }}"{% endif %}><li>{{ item.name }}</a></li></a>
		{% endfor %}
		</ul>
	</div>
	<div class="tools">
		<ul>
		{% for tool_info in site.ao_tools %}
			<li><a href="{{ tool_info.url }}" target="_blank">{{ tool_info.name }}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="theme-toggle">
		<a href="javascript:void(0);" id="theme-toggle-btn">
			<i class="fa fa-moon-o" id="theme-icon"></i>
			<span id="theme-label">Dark Mode</span>
		</a>
	</div>
</div>