:root {
	color-scheme: light dark;
	
	--body-bg-color: #fefefe;
	--text-selection-bg-color: #f39ca4;

	--menu-bg-color: #262626;
	--menu-text-color: #aaaaaa;
	--menu-ctl-bg-color: #262626;
	--menu-ctl-bg-hover-color: #999999;
	--menu-ctl-text-color: #fefefe;
	--menu-ctl-border-color: #333333;
	--menu-logo-text-color: #aaaaaa;
	--menu-logo-text-hover-color: white;
	--menu-category-text-color: white;
	--menu-category-bg-color: rgb(62, 62, 62);
	--menu-category-link-color: #aaaaaa;
	--menu-category-link-hover-color: white;
	--menu-tools-link-color: #262626;
	--menu-tools-link-hover-color: #626262;
	--menu-tools-bg-color: white;

	--search-icon-bg-color: #262626;
	--search-icon-bg-hover-color: #ffffff;
	--search-icon-text-color: #ffffff;
	--search-icon-text-hover-color: #262626;
	--search-box-color: white;
	--search-box-bottom-color: white;
	--search-input-text-color: white;
	--search-box-close-text-color: #222222;
	--search-box-close-bg-color: #dddddd;
	--search-box-close-bg-hover-color: #ffffff;
	--search-result-li-text-color: rgb(200, 200, 200);
	--search-result-li-text-hover-color: white;

	--header-bg-color: rgb(240, 240, 240);
	--header-title-color: white;
	--header-title-shadow-color: gray;
	/* --header-title-hover-color: white; */
	--header-title-link-color: rgb(240, 240, 240);
	--header-title-link-hover-color: rgb(240, 240, 240);
	--header-sep-bg-color: white;

	--content-text-color: #424143;
	--content-link-color: #b21827;
	--content-link-hover-color: #cf1827;
	--content-code-bg-color: #e8f2fb;
	/* --content-kbd-bg-color: #e8f2fb; */
	--content-code-border-color: #c9e1f6;
	/* --content-kbd-border-color: #e8f2fb; */
	--content-pre-bg-color: #e8f2fb;
	--content-pre-border-color: #c9e1f6;
	--content-pre-code-bg-color: rgba(0, 0, 0, 0);
	--content-blockquote-border-color: #c01827;
	--content-del-text-color: rgb(160, 160, 160);

	--content-article-title-color: #424143;
	--content-article-title-hover-color: black;
	--content-article-readmore-text-color: white;
	--content-article-readmore-bg-color: #d9534f;
	--content-article-readmore-bg-hover-color: #be534f;
	--content-article-readmore-border-color: #eeeeee;
	--content-article-briefinfo-bg-color: rgb(240, 240, 240);
	--content-article-briefinfo-link-color: #424242;
	--content-article-briefinfo-link-hover-color: black;
	--content-article-briefinfo-link-hover-text-color: rgb(230, 230, 230);
	--content-article-tags-border-color: #e8e8e8;
	--content-article-tags-link-color: #424242;
	--content-article-tags-link-hover-color: black;
	--content-article-tags-span-bg-color: rgb(240, 240, 240);
	--content-article-tags-span-bg-hover-color: rgb(230, 230, 230);
	--content-article-farewell-bg-color: rgb(250, 250, 250);
	--content-article-farewell-text-color: #262626;
	--content-article-farewell-del-color: #626262;

	--page-guide-border-color: rgb(240, 240, 240);
	--page-guide-bg-color: rgb(250, 250, 250);
	--page-guide-link-color: rgb(100, 100, 100);
	--page-guide-link-hover-color: rgb(60, 60, 60);

	--subscribe-rss-link-color: #262626;
	--subscribe-rss-link-hover-color: #262626;

	--pagenav-link-color: black;
	--pagenav-link-hover-color: rgb(66,66,66);
	--pagenav-disabled-text-color: #dedede;

	--footer-bg-color: #f5f5f5;
	--footer-border-color: #e5e5e5;
	--footer-copyright-text-color: #424143;
	--footer-copyright-hover-color: black;
	--footer-nav-text-color: #424143;
	--footer-nav-text-hover-color: #black;
	--footer-share-btn-bg-color: #d9534f;
	--footer-share-btn-hover-bg-color: #d9534f;
	--footer-share-btn-icon-color: white;
	--footer-share-item-icon-bg-color: white;
	--footer-share-item-icon-shadow-color: gray;
	--footer-share-item-hint-border-color: #d4d4d4;
	--footer-share-item-hint-bg-color: #f0f0f0;
	--footer-share-item-hint-text-color: #acacac;
	--footer-share-item-wechat-text-color: rgb(105, 245, 98);
	--footer-share-item-wechat-bg-color: rgb(239, 244, 244);
	--footer-share-item-sina-text-color: #c30f05;
	--footer-share-item-sina-bg-color: #ffda48;
	--footer-share-item-tweet-text-color: #eefbff;
	--footer-share-item-tweet-bg-color: #2a94be;
	--footer-share-item-facebook-text-color: #e2e8f6;
	--footer-share-item-facebook-bg-color: #44609a;
	--footer-share-item-qq-text-color: rgb(14, 190, 235);
	--footer-share-item-qq-bg-color: #e2e8f6;
}
@media (prefers-color-scheme: dark) {
	:root {
		--body-bg-color: #121212;

		--menu-ctl-text-color: #999999;
		--menu-ctl-bg-hover-color: #666666;
		--menu-tools-bg-color: #999999;
		--menu-category-link-hover-color: #f1f1f1;

		--search-icon-bg-hover-color: #dddddd;
		--search-icon-text-color: #bbbbbb;

		--header-bg-color: #141414;
		--header-title-color: #cccccc;
		--header-title-link-color: #cccccc;
		--header-title-link-hover-color:#ddddddd;
		--header-sep-bg-color: #333333;

		--content-text-color: #e0e0e0;
		--content-code-bg-color: #333333;
		--content-code-border-color: #444444;
		--content-pre-bg-color: #333333;
		--content-pre-border-color: #444444;
		--content-pre-code-bg-color: #333333;
		--content-article-readmore-bg-color: #d63e39;
		--content-article-readmore-bg-hover-color: #d32721;
		--content-article-readmore-border-color: #232323;
		--content-article-briefinfo-bg-color: #999999;
		--content-article-farewell-bg-color: #232323;
		--content-article-farewell-text-color: #f2f2f2;

		--page-guide-border-color: #262626;
		--page-guide-bg-color: #212121;
		--page-guide-link-color: #d8d8d8;
		--page-guide-link-hover-color: #eaeaea;

		--pagenav-disabled-text-color: #333333;
		--pagenav-link-color: #f2f2f2;
		--pagenav-link-hover-color: #fefefe;

		--footer-bg-color: #0f0f0f;
		--footer-border-color: #101010;
		--footer-copyright-text-color: #eaeaea;
		--footer-copyright-hover-color: #f0f0f0;
		--footer-nav-text-color: #eaeaea;
		--footer-nav-text-hover-color: #f0f0f0;
		--footer-share-btn-icon-color: #d8d8d8;
		--footer-share-item-hint-bg-color: #e6e6e6;
		--footer-share-item-hint-text-color: #bbbbbb;
	}
}


@font-face{
	font-family:'FontAwesome';
	src:url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.eot');
	src:url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
	url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
	url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
	url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf'),
	url('https://cdn.staticfile.org/font-awesome/4.7.0/fonts/fontawesome-webfont.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}

.container {
	width: 52%;
	min-width: 520px;
	margin: auto;
}

body {
	margin: 0;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: left .5s ease;
	width: 100%;
	background-color: var(--body-bg-color);
	font-family: "lucida grande","lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

body.menu {
	left: 120px;
	overflow: hidden;
}

::-moz-selection {
	background: var(--text-selection-bg-color) none repeat scroll 0 0;
}

::selection {
	background: var(--text-selection-bg-color) none repeat scroll 0 0;
}

#menu {
	z-index: 2147483646;
	width: 280px;
	position: fixed;
	height: 100%;
	background-color: var(--menu-bg-color);
	top: 0;
	left: -284px;
	color: var(--menu-text-color);
	transition: left .6s ease;
}

#fade {
	z-index: 2147483645;
	background-image: url(../images/black50.png);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.4;
	visibility: hidden;
	transition: opacity 1s ease;
}

body.menu #menu {
	left: 0;
}

body.menu #fade {
	visibility: visible;
	opacity: 1;
}

#menu .ctl {
	position: absolute;
	top: 10%;
	right: -50px;
	width: 40px;
	height: 40px;
	background-color: var(--menu-ctl-bg-color);
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	border-radius: 4px;
	cursor: pointer;
	color: var(--menu-ctl-text-color);
	border: 1px solid var(--menu-ctl-border-color);
	font-family: FontAwesome;
	transition: background-color .3s ease;
}

#menu .ctl:hover {
	background-color: var(--menu-ctl-bg-hover-color);
}

#menu .ctl:after {
	content: '';
	height: 100%;
	width: 100%;
}

body.menu #menu .ctl:after {
	content: '';
}

#scrollTop {
	font-family: FontAwesome;
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	color: rgba(88, 88, 88, 1);
	font-size: 20px;
}

#scrollTop:before {
	content: '';
}

#search_icon {
	font-family: FontAwesome;
	width: 30px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	right: 30px;
	top: 100px;
	background-color: var(--search-icon-bg-color);
	color: var(--search-icon-text-color);
	cursor: pointer;
	border-radius: 50%;
	transition: transform .2s ease, color .2s ease, background-color .2s ease;
	transform: rotate(20deg);
	z-index: 999;
}

#search_icon:after {
	content: '';
}

#search_icon:hover {
	transform: scale(1.5);
	color: var(--search-icon-text-hover-color);
	background-color: var(--search-icon-bg-hover-color);
}

#search {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2147483647;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-image: url(../images/black50.png);
}

#search.show {
	visibility: visible;
}

#search .wrap {
	width: 80%;
	opacity: 0;
	position: absolute;
	left: -20%;
	top: 0;
	opacity: 0;
	font-size: 2em;
	transition: opacity .4s ease, left .4s ease;
}

#search.show .wrap {
	left: 10%;
	opacity: 1;
	color: white;
}

#search .wrap .search_box {
	margin: auto;
	color: var(--search-box-color);
	width: 80%;
	border-bottom: 1px solid var(--search-box-bottom-color);
	margin-top: 16%;
}

#search.show .wrap .search_box {
	
}

#search .wrap .search_box input {
	font-weight: bold;
	height: 2em;
	background-color: transparent;
	border: none;
	color: var(--search-input-text-color);
	width: 80%;
	font-size: 1em;
}

#search .wrap .search_box input:focus {
	outline-width: 0;
}

#search .wrap .search_box .close {
	font-family: FontAwesome;
	float: right;
	cursor: pointer;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 22px;
	line-height: 30px;
	color: var(--search-box-close-text-color);
	background-color: var(--search-box-close-bg-color);
	border-radius: 50%;
}

#search .wrap .search_box .close:after {
	content: '';
}

#search .wrap .search_box .close:hover {
	background-color: var(--search-box-close-bg-hover-color);
}

#search .wrap .content {
	width: 80%;
	margin: auto;
}

#search_result_area {
	background-image: url(../images/black50.png);
	padding-top: 10px;
	padding-bottom: 10px;
}

#search_result_area.hide {
	visibility: hidden;
}

#search_result_area li {
	color: var(--search-result-li-text-color);
}

#search_result_area li:hover {
	color: var(--search-result-li-text-hover-color);
}

#search_result_area li:hover a {
	color: var(--search-result-li-text-hover-color);
}

#search_result_area li a {
	color: var(--search-result-li-text-color);
	text-decoration: none;
}


#menu .logo {
	margin: 20px 40px;
	text-align: center;
	font-size: 2em;
	/*width: 80%;*/
	border-bottom: 1px solid rgba(62, 62, 62, 200);
	padding-bottom: 10px;
}

#menu .logo a {
	color: var(--menu-logo-text-color);
	text-decoration: none;
}

#menu .logo a:hover {
	color: var(--menu-logo-text-hover-color);
}

#menu .category {
	margin: auto;
	width: 80%;
	font-size: 1.6em;
}

#menu .category ul {
	padding-left: 0;
	text-align: center;
}

#menu .category li {
	list-style: none;
	padding: .4em 0;
}

#menu .category li:hover {
	color: var(--menu-category-text-color);
	background: var(--menu-category-bg-color);
}

#menu .category a {
	color: var(--menu-category-link-color);
	text-decoration: none;
}

#menu .category a:hover {
	color: var(--menu-category-link-hover-color);
}

#menu .tools ul {
	padding-left: 0;
	text-align: center;
}

#menu .tools li {
	margin-bottom: .6em;
	list-style: none;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	background: var(--menu-tools-bg-color);
	font-size: 14px;
	padding: 0;
	padding: .4em .8em .4em .8em;
	border-radius: 4px;
}

#menu .tools li a {
	color: var(--menu-tools-link-color);
	text-decoration: none;
}

#menu .tools li a:hover {
	color: var(--menu-tools-link-hover-color);
}

#header {
	background: var(--header-bg-color);
	height: 360px;
	width: 100%;
	background-image: url(https://aobing.aopod.com/assets/aopod_bg.jpg);
	background-size: auto 360px;
	position: relative;
	background-attachment: fixed;
	background-position: center top;
	transition: background-position .5s ease;
	overflow: hidden;
	z-index: 900;
}

#header .title a {
	color: var(--header-title-link-color);
	text-decoration: none;
}

#header .title a:hover {
	color: var(--header-title-link-hover-color);
}

body.menu #header {
	background-position: 120px 0;
}

#header:before {
	content: "";
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 20px;
	display: block;
	opacity: .8;
	background-color: var(--header-sep-bg-color);
	z-index: 200;
}

#header:hover:before {
	opacity: .7;
}

#header:after {
	content: "";
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 13px;
	display: block;
	opacity: .4;
	background-color: var(--header-sep-bg-color);
	z-index: 200;
}

#header:hover:after {
	opacity: .3;
}

#header .title {
	position: absolute;
	left: 10%;
	top: 100px;
	font-weight: bold;
	color: var(--header-title-color);
	width: 80%;
	margin: auto;
	text-align: center;
	font-size: 25px;
	text-shadow: 0 0 1px var(--header-title-shadow-color);
	z-index: 100;
}

#header .title:hover {

}

#header .title h1 {
	padding: 0;
	margin: 0;
}

#content {
	margin:auto;
	color: var(--content-text-color);
	font-size: 16px;
	line-height: 1.71429em;
	margin-top: 40px;
	margin-bottom: 20px;
}

#content h2 {
	line-height: 1.2em;
}

#content a {
	text-decoration: none;
	color: var(--content-link-color);
}

#content a:hover {
	color: var(--content-link-hover-color);
}

#content .article {
	margin-bottom: 40px;
	word-wrap: break-word;
}

#content .article img {
	max-width: 100%;
}

#content table {
	min-width: 98%;
}

#content table th {
	text-align: left;
}

#content code, #content kbd {
	background: var(--content-code-bg-color) none repeat scroll 0 0;
    border: 1px solid var(--content-code-border-color);
    border-radius: 3px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    font-size: 0.9em;
    padding: 0.1em 0.4em;
    vertical-align: bottom;
    word-wrap: break-word;
}

#content pre {
	background: var(--content-pre-bg-color) none repeat scroll 0 0;
    border: 1px solid var(--content-pre-border-color);
    border-radius: 3px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 1.3em;
    overflow: scroll;
    padding: 4px 2.5%;
}

#content td.code > pre {
	border: none;
}

#content pre.lineno {
	border: none;
	padding-right: 4px;
}

#content pre code {
	background: var(--content-pre-code-bg-color) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    word-wrap: normal;
}

#content blockquote {
	border-left: 3px solid var(--content-blockquote-border-color);
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 1em;
    font-weight: lighter;
    margin: 0 0 20px;
    padding: 10px 20px;
}

#content del {
	font-style: italic;
	color: var(--content-del-text-color);
}

#content p {
	margin: 1.2em 0 1.2em 0;
	line-height: 1.8em;
}

#content blockquote p {
	margin: 0;
}

#content h1 {
	margin-top: 1em;
	line-height: 1.4em;
}

#content .article .title {
	font-size: 24px;
}

#content .article .title a {
	text-decoration: none;
	color: var(--content-article-title-color);
}

#content .article .title a:hover {
	color: var(--content-article-title-hover-color);
}

#content .article a.aread_more {
	text-decoration: none;
}

#content .article .read_more {
	width: 180px;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border: 1px solid var(--content-article-readmore-border-color);
	display: block;
	background-color: var(--content-article-readmore-bg-color);
	font-style: italic;
	color: var(--content-article-readmore-text-color);
	border-radius: 4px;
	transition: background-color .2s linear;
}

#content .article .read_more:hover {
	background-color: var(--content-article-readmore-bg-hover-color);
}

#content .article .read_more i {
	font-family: FontAwesome;
	font-style: normal;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	transition: transform .2s linear;
	text-align: center;
}

#content .article .read_more i:before {
	content: '';
	margin-right: .4em;
	width: 20px;
	height: 20px;
}

#content .article .read_more:hover i {
	transform: rotate(360deg);
}

#content .article .title {
	text-align: center;
}

#content .article .brief_info {
	text-align: center;
}

#content .article .brief_info span {
	display: inline-block;
	zoom: 1;
	background: var(--content-article-briefinfo-bg-color);
	padding: 0.1em 0.4em;
	border-radius: 4px;
}

#content .article .brief_info a {
	color: var(--content-article-briefinfo-link-color);
}

#content .article .brief_info a:hover {
	color: var(--content-article-briefinfo-link-hover-color);
}

#content .article .brief_info a:hover span {
	background: var(--content-article-briefinfo-link-hover-text-color);
}

#content .article .content {
	margin-top: 20px;
}

#content .article .content .thumb {

}

#content .article .content .thumb img {
	width: 100%;
}

#content .article > .tags {
	border-top: 1px solid var(--content-article-tags-border-color);
	padding-top: .6em;
	padding-bottom: .2em;
	text-align: center;
}

#content .article > .tags a {
	color: var(--content-article-tags-link-color);
	text-decoration: none;
}

#content .article > .tags a:hover {
	color: var(--content-article-tags-link-hover-color);
}

#content .article > .tags span {
	display: inline-block;
	zoom: 1;
	background: var(--content-article-tags-span-bg-color);
	padding: 0.1em 0.4em;
	border-radius: 4px;
	margin-left: 4px;
}

#content .article > .tags span:hover {
	background: var(--content-article-tags-span-bg-hover-color);
}

#content .farewell_past {
	text-align: center;
	background: var(--content-article-farewell-bg-color);
	font-style: italic;
	color: var(--content-article-farewell-text-color);
}

#content .farewell_past strong {

}

#content .farewell_past del {
	color: var(--content-article-farewell-del-color);
}

#page_guide {
	border-top: 1px solid var(--page-guide-border-color);
	border-bottom: 1px solid var(--page-guide-border-color);
	padding-top: .6em;
	padding-bottom: .6em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 16px;
	margin-bottom: 20px;
	background-color: var(--page-guide-bg-color);
	position: relative;
	min-height: 34px;
}

#page_guide a {
	text-decoration: none;
	color: var(--page-guide-link-color);
}

#page_guide a:hover {
	color: var(--page-guide-link-hover-color);
}

#page_guide .page {
	line-height: 30px;
	max-width: 50%;
}

#page_guide .page.next {
	float: right;
}

#page_guide .page.previous {
	float: left;
}

#subscribe {
	text-align: center;
}

#subscribe .rss-subscribe {
	font-size: 16px;
}

#subscribe .rss-subscribe a {
	font-style: italic;
	font-size: 1.2em;
	color: var(--subscribe-rss-link-color);
}

#subscribe .rss-subscribe a:hover {
	color: var(--subscribe-rss-link-hover-color);
}

#page_nav {
	text-align: center;
	margin: auto;
}

#page_nav .nav {
	height: 26px;
	margin-bottom: 10px;
	font-size: 18px;
	display: inline-block;
	width: 48%;
}

#page_nav .nav > a {
	text-decoration: none;
	color: var(--pagenav-link-color);
}

#page_nav .nav > a:hover {
	color: var(--pagenav-link-hover-color);
}

#page_nav .prev {
	text-align: left;
}

#page_nav .prev:before {
	font-family: FontAwesome;
	content: '';
	font-size: 1.2em;
	margin-right: 4px;
}

#page_nav .next {
	text-align: right;
}

#page_nav .next:after {
	font-family: FontAwesome;
	content: '';
	font-size: 1.2em;
	margin-left: 4px;
}

#page_nav .nav.disabled {
	color: var(--pagenav-disabled-text-color);
}

#page_nav .nav.disabled:hover {

}

#author .avatar {
	width: 160px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
}
#author .avatar img {
	width: 100%;
}
#author .avatar span {
	font-size: 20px;
}

#footer {
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
	background-color: var(--footer-bg-color);
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid var(--footer-border-color);
}

#footer .share li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

#footer .share .weibo {
	font-family: FontAwesome;
}

#footer .share .weibo:after {
	content: '';
}

#footer .copy_right {
	color: var(--footer-copyright-text-color);
	font-size: 18px;
}

#footer .copy_right .indexes {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

#footer .copy_right .indexes {
	
}

#footer .copy_right .indexes li {
	display: inline;
	padding-left: 6px;
}

#footer .copy_right .indexes li a {
	color: var(--footer-nav-text-color);
	text-decoration: none;
}

#footer .copy_right .indexes li:hover a {
	color: var(--footer-nav-text-color);
}

#footer .copy_right .indexes li:hover {
	color: var(--footer-nav-text-hover-color);
}

#footer .copy_right .indexes li:after {
	content: '•';
	padding-left: 6px;
}

#footer .copy_right .indexes li:last-child:after {
	content: '';
}

#footer .share {
	text-align: center;
	position: relative;
}

#footer .share .btn {
	font-size: 24px;
	cursor: pointer;
	z-index: 2014;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: auto;
	border-radius: 50%;
	background-color: var(--footer-share-btn-bg-color);
	transition: background-color .2s linear;
}

#footer .share .btn:hover {
	background-color: var(--footer-share-btn-hover-bg-color);
}

#footer .share .btn:before {
	font-family: FontAwesome;
	/*content: '';*/
	/*content: '';*/
	content: '';
	/*margin-right: 6px;*/
	font-size: 24px;
	text-align: center;
	width: 100%;
	line-height: 40px;
	color: var(--footer-share-btn-icon-color);
}

#footer .menu_content {
	/*width: 0;*/
	/*color: blue;*/
	/*background-color: blue;*/
	/*position: absolute;*/
	position: relative;
	/*top: -20px;*/
	/*left: 50%;*/
	width: 200px;
	margin: auto;
	/*margin-top: -40px;
	padding-top: 40px;*/
	height: 0;
	font-size: 16px;
	/*overflow: hidden;*/
	/*visibility: hidden;*/
}

#footer .menu_content.show {
	/*visibility: visible;*/
	/*overflow: auto;*/

	/*width: 200px;*/
	/*height: 200px;*/
}

#footer .menu_content ul {
	padding: 0;
	position: absolute;
	left: -90px;
	top: -70px;
	width: 220px;
	height: 0;
	display: block;
	overflow: hidden;
	transition: height .4s ease, top .4s ease;
	z-index: 2;
}

#footer .menu_content.show ul {
	/*left: -70px;*/
	top: -230px;
	width: 220px;
	height: 170px;
}

#footer .menu_content li {
	display: block;
	cursor: pointer;
	position: absolute;
	/*top: -30px;*/
	top: 0;
	/*left: -70px;*/
	/*right: 70px;*/
	right: 0;
	/*left: -70px;*/
	/*background-color: white;*/
	height: 30px;
	width: 220px;
	transition: right .4s ease, top .4s ease, transform .4s ease;
}

#footer .menu_content li .thumb {
	float: right;
	width: 32px;
	height: 32px;
	position: relative;
	overflow: hidden;
	background-color: var(--footer-share-item-icon-bg-color);
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 0 2px var(--footer-share-item-icon-shadow-color);
}

#footer .menu_content li .hint {
	padding: 4px 6px;
	border: 1px solid var(--footer-share-item-hint-border-color);
	border-radius: 4px;
	float: right;
	background-color: var(--footer-share-item-hint-bg-color);
	color: var(--footer-share-item-hint-text-color);
	/*margin-left: 20px;*/
	margin-right: 4px;
	/*box-shadow: 0 0 2px #d4d4d4;*/
}

#footer .menu_content li .thumb img {
	width: 100%;
}

#footer .menu_content li .thumb:after {
	font-family: FontAwesome;
	font-size: 26px;
	line-height: 32px;
	/*margin-left: 10px;*/
	text-shadow: 0 0 2px var(--footer-share-item-icon-shadow-color);
}

#footer .menu_content ul li:nth-child(1) {
	top: 10px;
	right: 2px;
	transform: rotate(6deg);
}

#footer .menu_content ul li:nth-child(2) {
	top: 50px;
	right: 5px;
	transform: rotate(4deg);
}

#footer .menu_content ul li:nth-child(3) {
	top: 90px;
	right: 7px;
	transform: rotate(2deg);
}

#footer .menu_content ul li:nth-child(4) {
	top: 130px;
	right: 9px;
	transform: rotate(1deg);
}

#footer .menu_content li.weixin .thumb {
	color: var(--footer-share-item-wechat-text-color);
	/*background-color: #1d9d74;*/
	background-color: var(--footer-share-item-wechat-bg-color);
}

#footer .menu_content li.weixin .thumb:after {
	content: '';
}

#footer .menu_content.show li.sina {
	/*right: 0px;
	top: 10px;
	transform: rotate(6deg);*/
}

#footer .menu_content li.sina .thumb {
	color: var(--footer-share-item-sina-text-color);
	background-color: var(--footer-share-item-sina-bg-color);
}

#footer .menu_content li.sina .thumb:after {
	content: '';
}

/*#footer .menu_content li .thumb.douban:after {
	content: '';
}*/

#footer .menu_content.show li.tweet {
	/*top: 50px;
	right: 4px;
	transform: rotate(4deg);*/
}

#footer .menu_content li.tweet .thumb {
	color: var(--footer-share-item-tweet-text-color);
	background-color: var(--footer-share-item-tweet-bg-color);
}

#footer .menu_content li.tweet .thumb:after {
	content: '';
}

#footer .menu_content li.facebook .thumb {
	color: var(--footer-share-item-facebook-text-color);
	background-color: var(--footer-share-item-facebook-bg-color);
}

#footer .menu_content.show li.facebook {
	/*top: 90px;
	right: 6px;
	transform: rotate(2deg);*/
}

#footer .menu_content li.facebook .thumb:after {
	content: '';
}

#footer .menu_content li.qq .thumb {
	color: var(--footer-share-item-qq-text-color);
	background-color: var(--footer-share-item-qq-bg-color);
}

#footer .menu_content li.qq .thumb:after {
	content: '';
}

#weixinShare {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url(../images/black50.png);
	background-repeat: repeat;
	transition: opacity .3s ease;
}

#weixinShare.show {
	visibility: visible;
	opacity: 1;
}

#weixin_qr {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/black50.png);
	background-repeat: repeat;
	opacity: 0;
	z-index: 99999;
}

#weixin_qr .content {
	width: 256px;
	height: 256px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -128px;
	margin-top: -128px;
}

#weixin_qr .content img {
	margin-top: 0px;
}

#weixin_qr.show {
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 1920px) {
    #header {
		background-size: 100% auto;
	}
}

@media (max-width: 500px) {
	.container {
		width: 92%;
		min-width: 100px;
	}

	#search .wrap {
		width: 90%;
	}

	#search.show .wrap {
		left: 5%;
	}

	#search .wrap .search_box {
		width: 100%;
	}

	#search .wrap .content {
		width: 100%;
	}

	#header {
		height: 240px;
		background-size: auto 240px;
	}

	body.menu #header {
		background-size: auto 240px;
		background-position: 50% 0;
	}

	#header .title {
		top: 80px;
		font-size: 20px;
	}

	#author .avatar img {
		width: 120px;
	}

	#content .article figure {
		margin: 0;
	}
}
